<div class="list-block">
	<ul>
		{{#each model.accountInfo}}
		<li class="item-content">
			<div class="item-inner">
				<div class="item-title">{{key}}</div>
				<div class="item-after">{{val}}</div>
			</div>
		</li>
		{{/each}}
	</ul>
</div>
