<div class="popup">
	<div class="view view-popup navbar-fixed">
		<div class="navbar">
			<div class="navbar-inner">
			{{#if model.isDownloading}}
				<div class="left"><a href="#" class="link close-popup">取消</a></div>
			{{/if}}
			{{#if model.isDownloadFail}}
				<div class="left"><a href="#" class="link close-popup">取消</a></div>
			{{/if}}
				<div class="center sliding">
					证书下载
				</div>
				{{!-- <div class="right"><a href="#" class="link">完成</a></div> --}}
			</div>
		</div>
		<div class="page">
			<div class="page-content">
			{{#if model.isDownloading}}
				<progress with="100%" value="80"></progress>
			{{/if}}
			{{#if model.isDownloadSuccess}}
				<h2>数字证书安装成功</h2>
				<div class="content-block">
					<a href="#" class="button button-big button-submit cert-button">完成</a>
				</div>
			{{/if}}
			{{#if model.isDownloadFail}}
				<h2>数字证书下载失败</h2>
				<div class="content-block">
					<a href="#" class="button button-big button-submit cert-button">重新下载</a>
				</div>
			{{/if}}
			</div>
		</div>
	</div>
</div>
