<div class="view view-popup navbar-fixed">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="center sliding">
				个人数字证书申请责任书
			</div>
		</div>
	</div>
	<div class="page">
		<div class="page-content">
			<div class="content-block">
				<p>注：新开证券账户的客户应认真阅读《个人数字证书申请责任书》，已有证券账户的客户应认真阅读《个人数字证书申请责任书》，客户点选"我已知晓并同意签署”后即视为已经阅读并同意接受对应责任书的内容。</p>
			</div>
			<div class="content-block">
				<a href="#" class="button button-big button-submit agree-button">已阅读并同意接受</a>
			</div>
		</div>
	</div>
</div>
