<div class="view view-popup navbar-fixed">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="center sliding">
				个人数字证书申请责任书
			</div>
		</div>
	</div>
	<div class="page">
		<div class="page-content">
			<div class="content-block">
				<p>{{model.content}}</p>
			</div>
			<div class="content-block">
				<a href="#" class="button button-big button-submit agree-button">已阅读并同意接受</a>
			</div>
		</div>
	</div>
</div>
