root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{html,xml,js,mustache}]
indent_style = tab
indent_size = 4

[*.{md,markdown}]
indent_size = 4
trim_trailing_whitespace = false
