# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Bower
bower_components/

# Npm
node_modules/

# Eclipse
.metadata
.classpath
.project
.settings/

# Maven
log/
target/

# SVN
.svn/

# Dev
develop/
