html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.5;
	background: transparent url(img/gaussian-blur-01.jpg) center no-repeat;
	background-size: cover;
}

.main-content {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

.main-content:after {
	content: "";
	display: table;
	clear: both;
}

.main-content .phone {
	position: absolute;
	background: transparent url(img/phone.png) no-repeat center top;
	width: 377px;
	height: 796px;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	top: -40px;
	right: 40px;
}

.main-content .phone iframe {
	width: 320px;
	height: 548px;
	position: absolute;
	left: 50%;
	margin-left: -160px;
	top: 50%;
	margin-top: -260px;
}

.main-content .phone .fullscreen {
	position: absolute;
	top: 50%;
	left: 0px;
	color: #fff;
	background: #ff9630;
	text-decoration: none;
	padding: 0px 15px;
	border-radius: 5px 5px 0 0;
	line-height: 40px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: left bottom;
	-moz-transform-origin: left bottom;
	-ms-transform-origin: left bottom;
	-o-transform-origin: left bottom;
	transform-origin: left bottom;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.main-content .left {
	float: left;
	text-align: center;
	margin-top: 150px;
	color: #fff;
	width: 590px;
}

.main-content .left .logo {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	background: transparent url(../img/logo.png) no-repeat center;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

.main-content .left .title{
	font-size: 52px;
	font-weight: 100;
	line-height: 1;
	margin: 50px 0;
}

.main-content .left .title a,
.main-content .left .title a:hover {
	color: #fff;
	text-decoration: none;
}

.main-content .left .buttons a {
	display: inline-block;
	border: 1px solid #fff;
	line-height: 44px;
	width: 200px;
	height: 44px;
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	border-radius: 5px;
	margin: 0 10px;
	-webkit-transition: 200ms;
	-moz-transition: 200ms;
	-ms-transition: 200ms;
	-o-transition: 200ms;
	transition: 200ms;
}

.main-content .left .buttons a:hover {
    background: rgba(255,255,255,0.1);
}

.fork {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	display: block;
	width: 149px;
	height: 149px;
	background: transparent url(img/forkme.png) no-repeat 0 0;
}