/* ==========================================================================
   Modify Framework7 original class
   ========================================================================== */
.toolbar-through .page-content {
  padding-bottom: 0;
}

.list-block,
.content-block {
  margin-bottom: 18px;
}

.content-block-title + .list-block, .content-block-title + .content-block {
  margin-top: 15px;
}

.list-block input[type="text"], .list-block input[type="password"], .list-block input[type="email"], .list-block input[type="tel"], .list-block input[type="url"], .list-block input[type="date"], .list-block input[type="datetime-local"], .list-block input[type="number"], .list-block select, .list-block textarea {
  font-size: 15px;
}

.list-block textarea {
  height: 60px;
}

.list-block ul {
  border-color: #e5e5e3;
}

.list-block .item-title, .list-block .smart-select .item-after {
  font-size: 15px;
}

.list-block .item-inner {
  border-color: #f4f4f4;
}

.list-block .list-block-label {
  margin-bottom: 15px;
  font-size: 12px;
}

.button {
  border-color: #fe8008;
}

.button.active {
  background: #fd8615;
}

.button:active {
  background-color: #f89e48;
}

.button.button-big {
  font-size: 18px;
}

.modal-button {
  color: #000;
}

.navbar {
  border-color: #e5e5e3;
}

.navbar a.link, .toolbar a.link {
  color: #444;
  -webkit-justify-content: inherit;
}

.navbar .center {
  font-size: 18px;
}

.content-block-title {
  margin-top: 18px;
  font-size: 15px;
  white-space: normal;
  line-height: 20px;
}

label.label-radio input[type="checkbox"]:checked ~ .item-inner, label.label-radio input[type="radio"]:checked ~ .item-inner {
  background-image: url("../img/i-form-radio-yellow.png");
  background-size: auto 15px;
}

label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox:after, label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox:after {
  background-color: #fd8615;
}

.label-switch input[type="checkbox"]:checked + .checkbox {
  background: #fb912c;
}

/* Android */
html.android label.label-radio input[type="checkbox"]:checked ~ .item-inner,
html.android label.label-radio input[type="radio"]:checked ~ .item-inner {
  background-position: 95% center;
}

html.android .list-block .item-link .item-inner {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    z-index: 9;
    display: block;
    width: 10px;
    height: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='%23c7c7cc'/></svg>");
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

html.android .row .col-50 {
  width: 46%;
}

html.android .row.no-gutter .col-50 {
  width: 50%;
}

html.android .row .col-33 {
  width: 30%;
}

/* ==========================================================================
   Add mine
   ========================================================================== */
.vertical-align {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 90%; /* Android */
  width: calc(~"100% - 30px");
}

.fixed-bottom {
  position: fixed;
  bottom: 30px;
  width: 90%; /* Android */
  width: calc(~"100% - 30px");
}

.info-content {
  margin-top: -30px;
  padding: 0 15px;
}

.info {
  font-size: 18px;
  text-align: center;
  .iconfont {
    display: block;
    font-size: 70px;
  }
  .icon-success {
    color: #80d61e;
  }
  .icon-fail {
    color: #d42323;
  }
  .icon-wait {
    color: #fd8615;
  }
  .desc {
    font-size: 14px;
  }
  .hotline {
    color: #fd8615;
  }
}

.bare .item-inner {
  border-bottom: 1px solid transparent !important;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.step {
  padding: 7px 0;
  margin: 0;
  background-color: #fff;
  .step-item {
    float: left;
    width: 33%;
    list-style: none;
    text-align: center;
    font-size: 12px;
    color: #858482;
    &:after {
      content: "";
      display: block;
      width: 6px;
      height: 10px;
      margin-left: 99%;
      margin-top: -13px;
      opacity: .5;
      background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M10,0l2,2l-8,8l8,8l-2,2L0,10L10,0z' fill='%23000'/></svg>");
      background-size: 100% auto;
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transform: scaleX(-1);
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &.current {
      color: #fd8615;
    }
  }
}

.select-trigger {
  padding: 15px 13px;
  border: 1px solid #dfdfdd;
  background-color: #fff;
  border-radius: 5px;
}

.select-radio {
  display: none;
}

.select-radio[type="radio"]:checked + .select-trigger {
  position: relative;
  color: #fd8615;
  border-color: #fd8615;
  &:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    height: 28px;
    width: 30px;
    background-image: url("../img/i-form-radio-yellow.png");
    background-size: auto 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.score {
  font-size: 40px;
  color: #fd8615;
}

.level {
  font-size: 20px;
}

.agree-block {
  display: -webkit-flex;
  display: flex;
}

html.android .agree-block {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type="checkbox"] {
    float: left;
  }
}
