@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
       url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: "\e607"; }

.icon-local:before { content: "\e608"; }

.icon-commend:before { content: "\e600"; }

.icon-lookfor:before { content: "\e609"; }

.icon-fail:before { content: "\e601"; }

.icon-success:before { content: "\e602"; }

.icon-wait:before { content: "\e603"; }

.icon-bright:before { content: "\e604"; }

.icon-cardfront:before { content: "\e605"; }

.icon-cardback:before { content: "\e606"; }

.icon-bankcard:before { content: "\e60b"; }

.icon-wifi:before { content: "\e60e"; }

.icon-idcard:before { content: "\e60a"; }

.icon-clock:before { content: "\e60c"; }

.icon-qmark:before { content: "\e60f"; }

.icon-emark:before { content: "\e611"; }

.icon-tel:before { content: "\e610"; }

.icon-del:before { content: "\e612"; }

.icon-sign:before { content: "\e614"; }

.icon-kefu:before { content: "\e618"; }

.icon-camera:before { content: "\e619"; }

.icon-takephoto:before { content: "\e62e"; }

.icon-shootvideo:before { content: "\e62f"; }

.icon-tip:before { content: "\e62d"; }

.icon-warn:before { content: "\e631"; }

/* bank icon */
/* 工商银行 */
.icon-gongshang:before {
  content: "\e61e";
  color: #b81c22;
}

/* 建设银行 */
.icon-jianshe:before {
  content: "\e620";
  color: #003a8f;
}

/* 交通银行 */
.icon-jiaotong:before {
  content: "\e621";
  color: #1d2088;
}

/* 农业银行 */
.icon-nongye:before {
  content: "\e623";
  color: #169274;
}

/* 招商银行 */
.icon-zhaoshang:before {
  content: "\e628";
  color: #e60012;
}

 /* 中国银行 */
.icon-zhongguo:before {
  content: "\e62a";
  color: #e60012;
}

/* 兴业银行 */
.icon-xingye:before {
  content: "\e626";
  color: #e60012;
}

/* 浙商银行 */
.icon-zheshang:before {
  content: "\e629";
  color: #e60012;
}

/* 中信银行 */
.icon-zhongxin:before {
  content: "\e62b";
  color: #d6000f;
}

/* 华夏银行 */
.icon-huaxia:before {
  content: "\e61f";
  color: #e60012;
}

/* 北京银行 */
.icon-beijing:before {
  content: "\e61d";
  color: #e60012;
}

/* 南京银行 */
.icon-nanjing:before {
  content: "\e622";
  color: #e60012;
}

/* 浦发银行 */
.icon-pufa:before {
  content: "\e625";
  color: #e60012;
}

/* 邮政银行 */
.icon-youzheng:before {
  content: "\e627";
  color: #e60012;
}

/* 深圳发展银行 */
.icon-shenzhenfazhan:before {
  content: "\e62c";
  color: #0080cc;
}

/* 中国人民银行 */
.icon-zhongguorenmin:before {
  content: "\e624";
  color: #e60012;
}

/* 平安银行 */
.icon-pingan:before {
  content: "\e632";
  color: #ea5503;
}
