<ol class="step clearfix">
	<li class="step-item">1 身份验证</li>
	<li class="step-item current">2 协议签署</li>
	<li class="step-item">3 三方存管</li>
</ol>
<div class="content-block-title">选择开通账户</div>
<div class="list-block">
	<ul>
		<li><a href="#" class="item-link smart-select">
			<select name="account" multiple>
				{{#model.accountGroups}}
				<optgroup label="{{group}}">
					{{#types}}
					<option value="{{value}}">{{type}}</option>
					{{/types}}
				</optgroup>
				{{/model.accountGroups}}
			</select>
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title">账户类型</div>
					<div class="item-after"></div>
				</div>
			</div></a>
		</li>
	</ul>
</div>
<div class="content-block-title">签署协议</div>
<div class="list-block">
	<ul>
		{{#model.protocals}}
		<li>
			<a href="protocal.html?id={{id}}" class="item-link item-content protocal-link">
			<div class="item-inner">
					<div class="item-title">{{protocal}}</div>
				</div>
			</a>
		</li>
		{{/model.protocals}}
		{{!-- <li>
			<div class="item-content">
				<div class="item-inner">
					<div class="item-title">我已阅读并同意签署以上协议</div>
					<div class="item-after">
						<label class="label-switch">
							<input type="checkbox">
							<div class="checkbox"></div>
						</label>
					</div>
				</div>
			</div>
		</li> --}}
	</ul>
</div>
<div class="content-block">
	{{!-- <label class="label-checkbox item-content">
		<input type="checkbox" name="agreement" value="agreement">
		<div class="item-media">
			<i class="icon icon-form-checkbox"></i>
		</div>
		<div class="item-inner">
			<div class="item-title">我已阅读并同意签署以上协议</div>
		</div>
	</label> --}}
	<label><input type="checkbox" name="agreement" value="agreement"> 我已阅读并同意签署以上协议</label>
</div>
<div class="content-block">
	<a href="#" class="button button-big active account-next-button">下一步</a>
</div>
