<div class="info"><i class="iconfont icon-success"></i>开户成功</div>
<div class="content-block-title">
	我们将尽快完成申请资料的审核，审核后您将收到手机短信提示，请保持手机畅通。
</div>
<div class="list-block">
	<ul>
		{{#model.accountInfo}}
		<li class="item-content">
			<div class="item-inner">
				<div class="item-title">{{key}}</div>
				<div class="item-after">{{val}}</div>
			</div>
		</li>
		{{/model.accountInfo}}
	</ul>
</div>
