{{#model.departmentsNearby}}
<a href="#" class="item-link smart-select" id="nearbySelect" data-page-title="附近营业部">
	<select name="nearby">
	{{#model.departmentsNearby}}
		<option value="{{value}}">{{department}}</option>
	{{/model.departmentsNearby}}
	</select>
</a>
{{/model.departmentsNearby}}

{{#model.departmentsAll}}
<a href="#" class="item-link smart-select" id="allSelect" data-page-title="选择营业部" data-searchbar="true" data-searchbar-placeholder="营业部名称" data-searchbar-cancel="取消">
	<select name="all">
	{{#model.departmentsAll}}
		<optgroup label="{{group}}">
			{{#departments}}
				<option value="{{value}}">{{department}}</option>
			{{/departments}}
		</optgroup>
	{{/model.departmentsAll}}
	</select>
</a>
{{/model.departmentsAll}}
