<ol class="step clearfix">
	<li class="step-item current">1 身份验证</li>
	<li class="step-item">2 协议签署</li>
	<li class="step-item">3 三方存管</li>
</ol>
<div class="content-block-title">请如实填写以下内容</div>
<div class="list-block">
	<ul>
		<li>
			<div class="item-content">
				<div class="item-inner">
				<div class="item-title label">姓名</div>
					<div class="item-input">
						<input type="text" name="name" placeholder="您的姓名" value="{{model.name}}">
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="item-content">
				<div class="item-inner">
				<div class="item-title label">身份证号</div>
					<div class="item-input">
						<input type="text" name="cid" placeholder="您的18位二代身份证号" value="{{model.cid}}">
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="item-content">
				<div class="item-inner">
				<div class="item-title label">身份证住址</div>
					<div class="item-input">
					<textarea name="cidAddr" placeholder="您的身份证住址">{{model.cidAddr}}</textarea>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="item-content">
				<div class="item-inner">
				<div class="item-title label">联系地址</div>
					<div class="item-input">
					<textarea name="address" placeholder="您的联系地址">{{model.address}}</textarea>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="item-content">
				<div class="item-inner">
				<div class="item-title label">邮编</div>
					<div class="item-input">
						<input type="tel" name="postCode" placeholder="联系地址的邮编" value="{{model.postCode}}">
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
<div class="list-block">
	<ul>
		<li>
			<a href="#" class="item-link smart-select" data-pagetitle="选择职业">
				<select name="career">
				{{#model.careers}}
					<option value="{{value}}">{{career}}</option>
				{{/model.careers}}
				</select>
				<!-- <select name="career">
					<option value="a">aaa</option>
					<option value="b">bbb</option>
					<option value="c">ccc</option>
				</select> -->
				<div class="item-content">
					<div class="item-inner">
						<div class="item-title">职业</div>
						<div class="item-after"></div>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="item-link smart-select" data-pagetitle="选择行业">
				<select name="industry">
				{{#model.industries}}
					<option value="{{value}}">{{industry}}</option>
				{{/model.industries}}
				</select>
				<div class="item-content">
					<div class="item-inner">
						<div class="item-title">行业</div>
						<div class="item-after"></div>
					</div>
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="item-link smart-select" data-pagetitle="选择学历">
				<select name="industry">
				{{#model.educations}}
					<option value="{{value}}">{{education}}</option>
				{{/model.educations}}
				</select>
				<div class="item-content">
					<div class="item-inner">
						<div class="item-title">学历</div>
						<div class="item-after"></div>
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>
<div class="content-block">
	<a href="#" class="button button-big active profile-next-button">下一步</a>
</div>

