{{#model.questions}}
	<div class="content-block-title">{{index}}.{{topic}}</div>
	<div class="content-block">
		<div class="row">
		{{#options}}
			<div class="col-50">
				<input class="select-radio {{#checked}}default{{/checked}}" type="radio" name="{{groupId}}" value="{{value}}" data-warn="{{warn}}" {{#checked}}checked="checked"{{/checked}}>
				<div class="select-trigger" {{^checked}}onclick="khApp.alert('{{tip}}');"{{/checked}}>{{option}}</div>
			</div>
		{{/options}}
		</div>
	</div>
{{/model.questions}}
<div class="content-block">
	<a href="#" class="button button-big active review-next-button">提交</a>
</div>
