{{#model.questions}}
	<div class="content-block-title">{{index}}.{{topic}}</div>
	<div class="content-block">
		<div class="row">
		{{#options}}
			<div class="col-50">
				<input class="select-radio" type="radio" name="{{groupId}}">
				<div class="select-trigger">{{option}}</div>
			</div>
		{{/options}}
		</div>
	</div>
{{/model.questions}}
<div class="content-block">
	<a href="#" class="button button-big active review-next-button">提交</a>
</div>
