<form id="riskForm">
{{#model.questions}}
	<div class="content-block-title" id="topic_{{index}}">{{index}}.{{topic}}
	{{#multi}}
	<small>（多选）</small>
	</div>
	<div class="list-block topic-options">
		<ul>
			{{#options}}
			<li>
				<label class="label-radio item-content topic-option" data-index="multi">
					<div class="item-media"></div>
					<input type="checkbox" name="{{question_no}}" value="{{value}}">
					<div class="item-inner">
						{{option}}
					</div>
				</label>
			</li>
			{{/options}}
	{{/multi}}

	{{^multi}}
	<small>（单选）</small>
	</div>
	<div class="list-block topic-options">
		<ul>
			{{#options}}
			<li>
				<label class="label-radio item-content topic-option" data-index="{{index}}">
					<div class="item-media"></div>
					<input type="radio" name="{{question_no}}" value="{{value}}">
					<div class="item-inner">
						{{option}}
					</div>
				</label>
			</li>
			{{/options}}
	{{/multi}}

		</ul>
	</div>
{{/model.questions}}
</form>
<div class="content-block">
	<a href="#" class="button button-big active risk-submit-button">提交</a>
</div>
