<div class="view view-popup navbar-fixed">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="center sliding">
				风险测评结果
			</div>
			<div class="right">
				<a href="#" class="link" id="logout">注销</a>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="page-content">
			<div class="content-block">
				<div class="info">
					<p>{{model.riskScore}}分</p>
					<p>{{model.riskLevel}}</p>
				</div>
			</div>
			<div class="content-block">
				<a href="#" class="button button-big active risk-next-button">下一步</a>
			</div>
		</div>
	</div>
</div>
